@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');

@keyframes header_anim {
    from {
        transform: translateX(-120%);
    }
    to {
        transform: translateX(0);
    }
}

body {
    margin: 0;
}

h1 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 6em;
    font-weight: 700;
}

h2 {
    position: center;
    padding: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    font-weight: 500;
}

h3 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 300;
}

p {
    position: relative;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
}

/* Links */
a,
a:focus,
a:hover {
    text-decoration: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #fff;
    text-shadow: none; /* Prevent inheritance from `body` */
    border: .05rem solid #fff;
    padding: 12px 32px;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    border-radius: 8px;
    outline: none;
    background-color: #0A4A92;
    /*background-clip: border-box;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 550px;
}

.cover-heading, .lead {
    position: center;
}

.cover .btn-lg {
    padding: .75rem .75rem;
    font-weight: 600;
}

.form_button {
    display: inline-block;
    padding: 12px 32px;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #0A4A92;
    background-clip: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;

}

.form_button:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.02, 1.02);
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 16px 2px;
    outline: none;
}
