<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MMIP: About Lab</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="about-lab.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
</head>

<body class="text-center">
    <header th:insert="blocks/header :: header"></header>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <img src="images/logo.png">
            <p class="lead">MMIP THE BEST</p>
            <p><a class="nav-link" href="https://imaging.cs.msu.ru/ru">View main page</a></p>
        </main>
    </div>
    <!--<div th:insert="blocks/footer :: footer"></div>-->
</body>
</html>