<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MMIP: Contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="contact.css" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
</head>
<body class="text-center">
    <header th:insert="blocks/header :: header"></header>
    <article class="article article_bluebg article_second">
        <h2 class="white">Contact us</h2>
        <form class="form" action="/contact" method="post">
            <input type="email" name="credentials"  class="form_input" placeholder="Ваш E-mail" />
            <textarea name="text" class="form_textarea" placeholder="Ваше сообщение"></textarea>
            <button class="form_button" type="submit">Отправить</button>
        </form>
    </article>
    <!--<div th:insert="blocks/footer :: footer"></div>-->
</body>
</html>