<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MMIP: Contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="contact.css" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="JS/contact.js"></script>
</head>
<body class="text-center">
    <header class="header-panel" th:insert="blocks/header :: header"></header>
    <article class="article article_bluebg article_second">
        <h2 class="white">Contact us</h2>
        <form class="form" id="sending_form" action="contact" method="post">
            <input type="email" name="credentials"  class="form_input" placeholder="Ваш E-mail " />
            <textarea name="text" class="form_textarea" placeholder="Ваше сообщение"></textarea>
            <button class="form_button send" type="button" onclick="sending()" >Отправить</button>
        </form>
    </article>
    <div class="modal fade" id="sent" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You email was sent!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--<div th:insert="blocks/footer :: footer"></div>-->
</body>

</html>