<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MMIP: Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="home.css" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="JS/home.js"></script>

</head>

<body class="text-center">


    <div class="cover-container"> <!--d-flexw-100 h-100 p-3 mx-auto flex-column">-->
    <header th:insert="blocks/header :: header"></header>
    <main role="main" class="inner cover">

        <h2 class="cover-heading">About project.</h2>
        <p class="lead">Встречу ночь на берегу океана
            Я хочу с ним слиться (а-а-а)
            И конечно же, смогу, погоди чуть-чуть
            Мне уже тридцать (а-а-а)
            Играю в Али-Бабу
            Мои демоны — разбойники-убийцы
            Их тоже тридцать
            Но если надо, я возьму ятаган и улыбну их лица
            Хоть я один
            В поле воин один (один)
            Я всего лишь один из вас (один из вас)
            Просто один из вас
            Но хоть я и один
            Совсем один, один
            Я всего лишь один из вас
            Один из вас, один из ваc
            От чьих глаз вдоль берега бегу я
            Будто бы от себя и тут некуда деться
            Но прекратил бегство
            Когда на песке вдруг заметил младенца
            Который пиздец как похож на меня в детстве
            И я хочу предупредить его заранее
            Что в этом мире нет любви
            Лишь увлечения и сострадание
            Малыш сияет изнутри
            И так спокойно говорит: "Не покидай меня
            Закрой глаза и смотри, мы две песчинки на пляже мироздания
            А наши страхи и страдания — капли воды
            Что падают нам на веки с небес
            Сон — лучший клей для разбитых сердец
            Стряхни свои грязные слёзы и спи


        </p>
        <p class="lead">
            <a href="#" class="btn btn-secondary start-button" onclick="countRabbits()" role="button" >Start</a>
        </p>
        <!--<button class="form_button" type="button">Start</button>-->
    </main>

    </div>
    <!--<div th:insert="blocks/footer :: footer"></div>-->
</body>
</html>