<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MMIP: Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="home.css" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
    <script type="text/javascript" src="JS/home.js"></script>

</head>

<body class="text-center">


    <div class="cover-container"> <!--d-flexw-100 h-100 p-3 mx-auto flex-column">-->
    <header th:insert="blocks/header :: header"></header>
    <main role="main" class="inner cover">

        <h2 class="cover-heading">About project.</h2>
        <p class="lead">
            Вот он - мой проект!
            Инструкция по прохождению опроса:
        </p>
        <p class="lead">
            Вам будут показаны три изображения. Верхнее - исходное изображение без дефектов.
            Два нижних - изображения с артефактами. Выбирете то, которое больше похоже на исходное, лучше, на Ваш взгляд, по качетсву.
            Увеличить изображения нельзя. Время опроса ограничено 15 минутами, но вы можете пройти опрос повторно, когда Вам зохочется закончить оценку,
            нажмите кнопку в правом верхнем углу.
        </p>
        <p class="lead">
            <!--<a href="/start" class="btn btn-secondary start-button" role="button" >Start_ref</a>//можно открыть в другой вкладке-->
        </p>
        <form action="/start" method="post" >
            <button class="form_button" type="submit" onclick="StartSession()">Start</button>
            <!--<div class="model-body" >
                <img id="ref" th:src="${ref}" > js подгружает картинки - динамически! + эффекты
                <img id="dist1" th:src="${dist1}"  >
                <img id="dist2" th:src="${dist2}" >
                <br>
                <p>This <a href="#" role="button" class="btn btn-secondary popover-test" title="Popover title" data-content="Popover body content is set in this attribute.">button</a> triggers a popover on click.</p><
                <button>1</button> // при нажатии запись идет в БД, картинки сменяются
                <button>2</button>
                <button class="btb btn-warning" onclick="PopUpHide()">Stop</button> / при нажатии сессия завершается - просто убирается попап окно и всплывает "спасибо"
            </div>-->
        </form>

    </main>
    </div>
    <!--<div th:insert="blocks/footer :: footer"></div>-->
</body>
</html>